@model FxUserCenter.AboutModel
@{
    ViewBag.Title = "英淘网用户中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sortable row-fluid">
    <a data-rel="tooltip" title="今日有 @Model.UserTodayCount 个成员加入我们." class="well span3 top-block" href="#">
        <span class="icon32 icon-red icon-user"></span>
        <div>会员数量</div>
        <div>
            @Model.UserCount
        </div>
        <span class="notification">
            @Model.UserTodayCount
        </span>
    </a>

    <a data-rel="tooltip" title="今日发布了 @Model.InfoPublishTodayCount 条信息." class="well span3 top-block" href="#">
        <span class="icon32 icon-color icon-web"></span>
        <div>发布信息</div>
        <div>
            @Model.InfoPublishAllCount
        </div>
        <span class="notification green">
            @Model.InfoPublishTodayCount
        </span>
    </a>

    <a data-rel="tooltip" title="今日成交数量  @Model.InfoEndCount." class="well span3 top-block" href="#">
        <span class="icon32 icon-color icon-cart"></span>
        <div>今日成交</div>
        <div>
            @Model.InfoEndCount
        </div>
        <span class="notification yellow">
            @Model.InfoEndCount
        </span>
    </a>

    <a data-rel="tooltip" title="@Model.PrivateMessageTodayCount 条新消息." class="well span3 top-block" href="#">
        <span class="icon32 icon-color icon-envelope-closed"></span>
        <div>您的私信</div>
        <div>
             @Model.PrivateMessageCount
        </div>
        <span class="notification red">
             @Model.PrivateMessageTodayCount
        </span>
    </a>
</div>

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header well">
            <h2><i class="icon-info-sign"></i>英淘介绍</h2>
            <div class="box-icon">
                <!--   <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>-->
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <h2><a href="http://yingtao.co.uk">英淘网</a>立志于提供一个物品交流平台.</h2>
            <p>我们提供了多个主题，您可以自由调节喜欢的基调~</p>
            <p style="color:red;">对于已成交的信息请主动点击已成交，否则我们将会持续发送相关信息的邮件和站内信</p>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

